<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | Transmits - Transfer Anything</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="nav"><img src="/img/Transmitsrm.png" alt="" draggable="false"></div>
    <div class="container">
        <div class="download-container">
            <div class="download-info">
                <img class="down-icon" src="/img/download-icon.svg" alt="" draggable="false">
                <% if(locals.error){ %>
                    <h4><%= locals.error%></h4>
                    <%} else {%>
                        <h2>Your file is ready to download</h2>
                        <p>Link expires in 24 hours</p>
                    </div>
                    <div class="file-info">            
                        <div class="download__meta">
                            <h4><%= fileName %></h4>
                            <small><%= parseInt(fileSize/1000) %> KB</small>
                        </div>
                        <div class="send-btn-container">
                            <a href="<%= downloadLink %>">Download File</a>
                        </div>
                        <%} %>
                    </div>
            <!-- <button type="submit">Download File</button> -->
        </div>
    </div>
    
</body>
</html>